* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8f7e5;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.step .circle {
  width: 30px;
  height: 30px;
  border: #41773E solid 1px;
  border-radius: 50%;
  background-color: white;
  color: #41773E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.step.active .circle {
  background-color: #4caf50;
  color: white;
}

.step p {
  font-size: 14px;
  color: #444;
  white-space: nowrap;
}

.line {
  height: 1px;
  background-color: #41773E;
  flex: 1;
  margin: 10px;
}

.form-box {
  background-color: white;
  padding: 35px 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  width: 400px;;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input, select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

select {
  padding: 10px;
  padding-right: 35px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.note {
  font-size: 12px;
  margin-top: 10px;
  color: #555;
}